body {
background-color: green;
}

img {
  width: 80%;
  height: auto;
  padding: 1px;
  border: 1px solid #021a40;
}
  

h2 {
  font-weight: bold;
}

.header {
  text-align: center;
}
.footer{
  text-align: center;
  margin-top: 5%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

.dog {
  width: 30%;
}